{% extends './base.html' %}

{% block content %}
<div>
    <h1 style="text-align: center">Add New Book</h1>
</div>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cover Photo URL</label>
        <input type="text" name="cover_photo" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Number of Pages</label>
        <input type="number" name="num_pages" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{ url_for('list_books') }}" class="btn btn-info">Back</a>
    </div>
</form>
{% endblock %}
